@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
}

button {
    background-color: #3882F6;
    border-style: solid;
    border-radius: 2px;
}

.hero-container {
    background: #1F2937;
    color: white;
    padding: 10px 120px 80px 120px;
    margin: 0;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    margin-top: -10px;
    margin-bottom: 60px;

}

.header-logo {
    font-weight: bold;
}

.header-nav {
    font-size: 10pt;
    display: flex;
    gap: 20px;
    align-self: center;

}

.hero {
    display: flex;
    flex: 1;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    flex: 1 | 1 | 0;
    padding-right: 30px;
}

.title-image {
    align-self: center;
    justify-self: center;
    background-color: gray;
    min-width: 350px;
    min-height: 200px;
}

.gallery-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 32px 180px;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery-title {
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 32px;
    align-self: center;
}

.image {
    border-style: solid;
    border-width: 2px;
    border-color: #3882F6;
    border-radius: 10px;
    min-width: 100px;
    min-height: 100px;
    flex: 1 | 1 | 0;
}

.image-text {
    font-weight: 300;
    color: #454545;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 32px 180px;
}